* {
  margin: 0;
  /*padding: 0;*/
  box-sizing: border-box;
}
body {
  background-color: bisque;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 20px 200px;
}
img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

heading {
  background-color: bisque;
  padding: 10px;
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
}

.Ground-breaking {
  padding: 20px;
  text-align: center;
  font-weight: bold;
}
.life-events {
  text-align: center;
}
.life-events li {
  padding: 20px;
}

.centered-text {
  font-style: italic;
}
.more-details {
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  font-size: 20px;
}
